.element,
html {
    scrollbar-width: none
}

html::-webkit-scrollbar,
.element::-webkit-scrollbar {
    display: none
}

body {
    background-color: #11101D;
}

.row {
    height: 100vh;
}

form {
    color: #fff;
}